<p>
  <b>User:</b>
  <%=h @player.user_id %>
</p>

<p>
  <b>Game:</b>
  <%=h @player.game_id %>
</p>

<p>
  <b>Status:</b>
  <%=h @player.status %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>