<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>FriendFried</title>
    <%= stylesheet_link_tag 'style' %>
    <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
    <%= javascript_include_tag 'jquery-latest.js' %>
    <%= javascript_include_tag 'jquery.tablesorter.js' %>
    <%= javascript_include_tag 'application.js' %>
    <%= javascript_include_tag :defaults %>
    <%= ajaxful_rating_style %>
    <%= yield :head %>
</head>
  <body>
<div id="wrapper">
<% if facebook_session %>
  <h1>Friend<em>FRIED</em></h1>
  <div id="content">
    <p style="color: green"><%= flash[:notice] %></p>
      <%= fb_connect_javascript_tag %>
      <%= init_fb_connect("XFBML", :js => :jquery) %>
    <div id="body">
     <%= yield  %>
      <div class="clear"> </div>
    </div>
  </div>
  <div id="sidebar">
    <%= :sidebar ? (yield :sidebar) : render(:partial => 'shared/sidebar') %>
  </div>
<% end %>
</div>
</body>
</html>
